.slider-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: 20vw;
    height: 5vh;
}

.button-container {
   display: flex;
   justify-content: center;
   padding-top: 10px;
}

